<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/icon.ico" />
    <link rel="stylesheet" href="/css/livros.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('components/nav') %>

    <main class="main-content">
      <h1 class="page-title">Catálogo de Livros</h1>

      <!-- matemática -->
      <section id="matematica" class="livros-section">
        <h2>Matemática</h2>
        <div class="livro">
          <img
            src="/images/trigonometria.png"
            alt="Livro de Matemática 1"
            class="livro-img"
          />
          <div class="livro-info">
            <h3 class="livro-titulo">Trigonometria</h3>
            <p class="livro-semestre">Semestre: 1º</p>
            <a href="/pdf/trigonometria-matematica.pdf" class="livro-pdf">
              <i class="bi bi-file-earmark-pdf"></i> Baixar PDF
            </a>
          </div>
        </div>

        <div class="livro">
          <img
            src="/images/sistemaseGrandeza.png"
            alt="Livro de Matemática 2"
            class="livro-img"
          />
          <div class="livro-info">
            <h3 class="livro-titulo">Sistemas e Grandezas</h3>
            <p class="livro-semestre">Semestre: 2º</p>
            <a href="/pdf/sistemaseGrandezas-matematica.pdf" class="livro-pdf">
              <i class="bi bi-file-earmark-pdf"></i> Baixar PDF
            </a>
          </div>
        </div>
      </section>

      <!-- física e química -->
      <section id="fisica-quimica" class="livros-section">
        <h2>Física e Química</h2>
        <div class="livro">
          <img
            src="/images/materiaeEnergia.png"
            alt="Livro de Física 1"
            class="livro-img"
          />
          <div class="livro-info">
            <h3 class="livro-titulo">Matéria e Energia</h3>
            <p class="livro-semestre">Semestre: 1º</p>
            <a href="/pdf/humanidadeeAmbiente-quimica.pdf" class="livro-pdf">
              <i class="bi bi-file-earmark-pdf"></i> Baixar PDF
            </a>
          </div>
        </div>

        <div class="livro">
          <img
            src="/images/humanidadeeAmbiente.png"
            alt="Livro de Química 1"
            class="livro-img"
          />
          <div class="livro-info">
            <h3 class="livro-titulo">Humanidade e Ambiente</h3>
            <p class="livro-semestre">Semestre: 1º</p>
            <a href="/pdf/materiaeEnergia-fisica.pdf" class="livro-pdf">
              <i class="bi bi-file-earmark-pdf"></i> Baixar PDF
            </a>
          </div>
        </div>
      </section>
    </main>

    <%- include('components/footer') %>
  </body>
</html>
