<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="/images/icon.ico" />
    <link rel="stylesheet" href="/css/materiais.css">
</head>

<body>
    <%- include('components/nav') %>

        <div class="container">
            <h1>Materiais Complementares</h1>
            <h2>Quizzes</h2>
            <!-- quizzes -->

            <h2>Links Confiáveis</h2>
            <!-- lista de links -->

            <h2>PDFs Educacionais</h2>
            <!-- PDFs -->
        </div>

        <%- include('components/footer') %>
</body>

</html>