@import url("/css/styles.css");

.main-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.material-section {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.section-title {
    color: var(--roxo);
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.nivel {
    margin-bottom: 40px;
}

.nivel-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.pdf-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.pdf-list li {
    margin: 10px 0;
}

.pdf-list li a {
    color: #2D3F53;
    font-size: 1.18rem !important;
    text-align: left;
    text-decoration: underline;
    margin: 10px 0;
}

.pdf-list li a:hover {
    color: var(--azul-hover);
}

.quiz,
.exercicio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

.quiz a,
.exercicio a {
    color: #2D3F53;
    font-size: 1.18rem !important;
    text-decoration: underline;
    margin-left: 10px;
}

.quiz i,
.exercicio i {
    font-size: 24px;
    color: #6c63ff;
}

/* Responsividade */
@media (max-width: 768px) {
    .section-title {
        font-size: 22px;
    }

    .nivel-title {
        font-size: 20px;
    }

    .pdf-list li a,
    .quiz a,
    .exercicio a {
        font-size: 1rem !important;
    }

    .quiz,
    .exercicio {
        flex-direction: column;
        align-items: flex-start;
    }

    .quiz a,
    .exercicio a {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .main-content {
        padding: 10px;
    }

    .material-section {
        padding: 15px;
    }

    .section-title {
        font-size: 20px;
    }

    .nivel-title {
        font-size: 18px;
    }

    .pdf-list li a,
    .quiz a,
    .exercicio a {
        font-size: 0.95rem !important;
    }

    .quiz i,
    .exercicio i {
        font-size: 20px;
    }
}
